/*--------head------------*/
.head {
  padding: 20px 0;
  color: #fff;
}
.logo h1 {
  font-size: 35px;
  font-weight: 900;
}
.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 30px;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: rgb(177, 177, 177);
}
.start {
  /* background-color: #1eb2a6; */
  padding: 8px 20px;
  color: #fff;
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .start span{
    font-size: 80%;
  }
  header {
    margin: 0;
    /* background-color: #1eb2a6; */
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  header ul li a {
    color:rgb(77, 77, 77)
  }
  .toggle {
    display: block;
    background: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -30px;

  }
  .mobile-nav {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  .saavihead{
    display: none;
  }
  .white{
    color: rgb(77, 77, 77);
  }
  .dark{
    color: #fff;
  }
}
